<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BMI</title>
</head>
<body>
    <div id="main_container">
        <fieldset>
            <legend id="header">BMI Calculator</legend>
            <form action="/submit" method="POST">
                <div class="container">
                    <p></p>
                    <label class="label">Weight (kg): </label>
                    <input type="text" id="weight_input" name="weight_input" class="label">
                    <p></p>
                    <label class="label">Height (m): </label>
                    <input type="text" id="height_input" name="height_input" class="label">
                    <p></p>
                    <input type="radio" name="radio_button" id="rad1" value="men_value">
                    <label class="label" for="rad1">Men</label>
                    <input type="radio" name="radio_button" id="rad2" value="women_value">
                    <label class="label" for="rad2">Women</label>
                    <p></p>
                    <button type="submit" id="button">Submit</button>
                    <p></p>
                    {% if result_men is defined %}
                        {% if result_men <= 18.5 %}
                            <label class="label" style="color: red;">Underweight: {{ result_men }}</label>
                        {% elif result_men > 18.5 and result_men <= 25 %}
                            <label class="label" style="color: green;">Normal: {{ result_men }}</label>
                        {% elif result_men > 25 and result_men <= 30 %}
                            <label class="label" style="color: yellow;">Overweight: {{ result_men }}</label>
                        {% elif result_men > 30 and result_men <= 50 %}
                            <label class="label" style="color: darkred;">Obesity: {{ result_men }}</label>
                        {% endif %}
                    {% else %}
                        <label class="label">WOMEN RESULT: {{ result_women }}</label>
                    {% endif %}
                    {% if error %}
                        <label class="label" style="color: red;">Error {{ error }}</label>
                    {% endif %}
                </div>
            </form>
        </fieldset>
    </div>
</body>
</html>
